## This file is part of Whonix.
## Copyright (C) 2012 - 2015 Patrick Schleizer <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

[Unit]
Description = Control Port Filter Proxy
ConditionPathExists = /usr/sbin/cpfpd
After = remote-fs.target syslog.target network.target

[Service]
Type = simple
User = debian-tor
Group = debian-tor
ExecStart = /usr/sbin/cpfpd start
PIDFile = /run/%p/pid
SuccessExitStatus = 143

TimeoutSec = 30
Restart = always
StandardOutput = syslog
StandardError = syslog

## TODO: Watchdog disabled.  cpfpd would need to implement the sd_notify protocol
# WatchdogSec = 1m

##
## Hardening
##

PrivateTmp=yes

[Install]
WantedBy=multi-user.target
