## This file is part of Whonix.
## Copyright (C) 2012 - 2014 Patrick Schleizer <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

[Unit]
Description=Whitelisting filter for dangerous Tor control protocol commands
Documentation=https://www.whonix.org/wiki/Dev/Control_Port_Filter_Proxy

[Service]
Type=forking
PIDFile=/var/run/control-port-filter-python/pid
ExecStart=/usr/sbin/cpfpd start
ExecStop=/usr/sbin/cpfp stop
ExecReload=/usr/sbin/cpfpd restart
User=debian-tor
Group=debian-tor

[Install]
WantedBy=multi-user.target
