## Copyright (C) 2015 - 2018 Patrick Schleizer <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

[Unit]
Description=Tor control port filter proxy
Documentation=https://tails.boum.org/contribute/design/
After=network.target
Wants=network.target
ConditionPathExists=!/var/run/qubes/this-is-templatevm
ConditionPathExists=!/var/run/qubes/this-is-templatevm

[Service]
Type=notify
ExecStart=/usr/lib/onion-grater

User=onion-grater
Group=onion-grater
SuccessExitStatus=143
WatchdogSec=10
TimeoutSec=30
Restart=always

#PrivateDevices=yes
#PrivateTmp=yes
#ProtectHome=yes
#ProtectSystem=full

#NoNewPrivileges=yes

#SystemCallFilter=close
#SystemCallFilter=open
#SystemCallFilter=link
#SystemCallFilter=access
#SystemCallFilter=kill
#SystemCallFilter=ioctl
#SystemCallFilter=readlink
#SystemCallFilter=stat64
#SystemCallFilter=getsockopt

#SystemCallArchitectures=native

[Install]
WantedBy=multi-user.target
