## Copyright (C) 2012 - 2017 Patrick Schleizer <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

Source: onion-grater
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@riseup.net>
Build-Depends: debhelper (>= 9), genmkfile, dh-systemd, ruby-ronn, dh-apparmor
Homepage: https://www.whonix.org/wiki/Dev/CPFP
Vcs-Browser: https://github.com/Whonix/onion-grater
Vcs-Git: https://github.com/Whonix/onion-grater.git
Standards-Version: 3.9.8

Package: onion-grater
Architecture: all
Depends: ${misc:Depends},
 adduser, tor, python3, python3-psutil, python3-stem, python3-yaml,
 python3-sdnotify
Conflicts: control-port-filter
Description: Whitelisting filter for dangerous Tor control protocol commands
 Filters out Tor control protocol commands that are dangerous for anonymity
 such as GETINFO ADDRESS using a whitelist. Acts as a proxy between the client
 application and Tor.
 .
 For example it allows using Tor Browser's New Identity feature on Anonymity
 Distribution Workstations, fixes Tor Browser's about:tor default homepage and
 Tor Button status indicator without exposing commands that are dangerous for
 anonymity.
 .
 This package is supposed to be installed on Anonymity Distributions.
 .
 It seamlessly integrates if the anon-ws-disable-stacked-tor package
 is installed on a Anonymity Distribution Workstations. For example it then
 allows running a unmodified Tor Browser Bundle from The Tor Project without
 Tor over Tor and with functional New Identity and about:tor.
 .
 This control-port-filter is written in Python. The original Python code
 was forked from the Tails version of control port filter.
 .
 This package is produced independently of, and carries no guarantee from,
 The Tor Project.
